*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Cinzel', sans-serif, 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

  .encabezado{
    display:flex;
    justify-content: flex-start;
    background-color: #6497af;
    align-items:center ;
    gap: 12vw;
    padding: 1.8vw;
}
.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1.5vw;
}
.subtitulo1{
    padding: 2%;
}
.logo{
    width: 12vw;
    height: 12vw;
}
h1{ 
    color:#eeeeee;
    font-size: 5vw;
    text-shadow: 0.3vw 0.3vw black;
}
.subtitulo{
    background-color: #85b2b9; ;
    color:#eeeeee;
    text-align: center;
    font-size: 1.9vw;
    padding: 5vw;
}
.subtitulo2{
    background-color: #85b2b9; ;
    color: black;
    text-align: center;
    font-size: 1.5vw;
    padding: 0vw;
} 
.subtitulo3{
    padding: 4vw;
}
.menu{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #088395;
    padding: 0.8vw
    
}

.menuAncla{
    text-decoration: none;
    color:#eeeeee;
    font-size: 2vw;
 }
 .menuAncla:hover{
    color:  #85b2b9;
}

.cardDescription {
    width: 100%;
    font-size: 1.5vw;
    text-align: center;
    padding-top: 3vw;
}

.principal{
        display: flex;
        justify-content: center;
        background: #85b2b9;
        align-items: center;
        gap: 5vw;
        padding: 5%;
        /* padding-top: 5%;
        padding-bottom: 5%; */
}
.cursos{
    margin-left: 5vw;
}

.section{
    display:flex;
    flex-direction: column;
    align-items: center;
    border: 0.4vw solid #088395;
    border-radius: 1vw;
    /*margin: 40px;*/
    width: 30%;
    height: 50%;
    min-height: 40vw;
    /* box-shadow: 3px 3px grey; */
    
}

.imagen {
    width: 80%;
    height: 150px;
}

.imagen1{    
    width: 100%;
    height: 100%;
}
.titulo{
    text-align: center;
    color: #eeeeee;
    text-shadow: 0.1vw 0.1vw black;
    font-size: 3vw;
   
}
.anclas{
    text-decoration: none;
    color:  #eeeeee;
    background-color:  #088395;
    margin: 25%;
    padding: 1%;
    font-size: 1,5vw;
    border: 0.2vw solid #088395;
    border-radius: 0.5vw;
    box-shadow: 0.3vw 0.3vw gray;
}
.tarjetasPres{
    
    margin-bottom: 20px;
    border: 0.2vw solid #088395;
    height: 30vw;
    flex-basis: 28%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    gap: 1.5vw;
}

.tarjetaPres:nth-child(3n+1) {
    margin-right: 20px;
  }
  
  .tarjetaPres:nth-child(3n+2) {
    margin-right: 20px;
  }

.area-cur{
    font-size: 2vw;
    text-shadow: 0.1vw 0.1vw black;
}
.cursos{
    font-size: 1vw;
    list-style-type: none;
   
   
} 
.lista-cur2{   
    background-color: #088395;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 2px;
    width: 100%;
    height: 30%;
 
}
.boton{
    font-size: 1.5vw;
    color: black;
    text-decoration: none;
    padding: 1vw;
    border: 0.1vw solid #eeeeee;
    background-color: #6497af;
}
.imagenLabo{
    width: 70%;
    height: 50%;
    
}    
.pie {
    background:#088395;
    display:flex;
    /*flex-flow: column;*/
    justify-content: space-around;
    align-items: center;
}
.mapa{
    padding: 1vw;
    width: 80%;
    height: 50%; 
}
.domicilio{
    color: #eeeeee;
    padding-bottom: 2vw;
} 
/*CHICAS: NO PUEDO ACHICAR EL TAMAÑO DE LAS IMAGENES DE REDES*/   
.social{
    display: flex;
    gap: 2vw;
    justify-content: center;
}    

.red-social{
    width: 3.5vw;
    height: 3.5vw;
}

/*------------Animaciones---------------------*/
.anclas:active{
    transform: translate(0.2vw);
    box-shadow: none;
}

