*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Cinzel', sans-serif, 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    
  .encabezado {
    display:flex;
    justify-content: flex-start;
    background-color: #6497af;
    align-items:center ;
    gap: 12vw;
    padding: 1.8vw;
}

.encabezado2{
    background-color: #6497af;
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1.5vw;
    /* background-color: #85b2b9; */
    background: -webkit-linear-gradient(#85b2b9, #6497af);
}
.subtitulo1{
    padding: 2%;
}
.logo{
    width: 12vw;
    height: 12vw;
}
h1{ 
    color:#eeeeee;
    font-size: 5vw;
    text-shadow: 0.3vw 0.3vw black;
}
.subtitulo{
    background-color: #85b2b9; ;
    color:#eeeeee;
    text-align: center;
    font-size: 3vw;
    padding: 5vw;
}
.subtitulo2{
    background-color: #85b2b9; 
    color: black;
    text-align: center;
    font-size: 1.8vw;
    padding: 0vw;
} 
.subtitulo3{
    padding: 4vw;
}
.menu{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #088395;
    padding: 0.8vw
    
}




.menuAncla{
    text-decoration: none;
    color:#eeeeee;
    font-size: 2vw;
 }
 .menuAncla:hover{
    color:  #85b2b9;
}

.cardDescription {
    width: 100%;
    font-size: 1.5vw;
    text-align: center;
    padding-top: 2vw;
}

.principal{
        display: flex;
        justify-content: center;
        background: #85b2b9;
        background: -webkit-linear-gradient(#85b2b9, #6497af);
        align-items: center;
        gap: 5vw;
        padding: 5%;
        flex-wrap: wrap;

}

.section{
    display:flex;
    flex-direction: column;
    align-items: center;
    border: 0.4vw solid #088395;
    border-radius: 1vw;
    width: 40%;  
    box-shadow: 0.1vw 0.1vw grey;
    height: 50vw;
    padding: 3%;
    
}

.imagen1{
    width: 24vw;
    height: 16vw;
}

/* .imagen1{    
    width: 100%;
    height: 100%;
} */
.imagen2{
    height: 16vw;
}

.titulo{
    text-align: center;
    color: #eeeeee;
    text-shadow: 0.1vw 0.1vw black;
    font-size: 3vw;
    height: 9vw;
   
}
.anclas{
    text-decoration: none;
    color:  #eeeeee;
    background-color:  #088395;
    margin: 5%;
    padding: 3%;
    font-size: 1.5vw;
    border: 0.2vw solid #088395;
    border-radius: 0.5vw;
    box-shadow: 0.3vw 0.3vw gray;
}
.tarjetasPres{
    border: 0.2vw solid #088395;
    border-radius: 0.5vw;
    height: auto;
    /* height: 30vw; */
    flex-basis: 28%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.8vw;
    background-color:#088395;
    padding-bottom: 3%;
   }

.tarjetaPres:nth-child(3n+1) {
    margin-right: 20px;
  }
  
  .tarjetaPres:nth-child(3n+2) {
    margin-right: 20px;
  }

.area-cur{
    font-size: 1.8vw;
    text-shadow: 0.1vw 0.1vw black;
    padding: 3%;
    height: 7.5vw;
    
}
.tamañofuente1{
    font-size: 1.7vw;
}
.lista-cur2{   
    background-color: #088395;
    /*display: flex;
    flex-wrap: wrap;*/
    gap: 2px;
    width: 100%;
    height: 12vw;
    
    
}
.arregloImagen{
    width: 100%;
    
}
.cursos{
    font-size: 1.2vw;
    list-style-type: none;
    padding: 0.4vw;
    margin-left: 0.5vw;
    text-align: center;
    /* flex-wrap: nowrap; */
    } 


.boton{
    font-size: 1.5vw;
    color: black;
    text-decoration: none;
    padding: 0.5vw;    
    background-color: #6497af;
    box-shadow: 0.3vw 0.3vw gray;
    border-radius: 0.5vw;
}
.boton:hover{
   background-color:#eeeeee ;
}
.imagenArea{
    width: 80%;
    height: auto;
}



.api{
    flex: 1 1 100%;
      
}
.temperatura {
    text-align: center;
    padding: 2%;
    font-size: 1.5vw;
    color:#eeeeee;
    border-radius: 0.9vw;
    border: 0.4vw solid #088395;

}


    
.pie {
    background:#088395;
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding: 2%;
    flex-wrap: wrap;
}


.ubicacion{
    display: inline-flex;
    align-items: center;
    margin:3%;
    }
    
.mapa{
    padding: 1vw;
    width: 70%;
    height: 40%; 
    margin-top: 2vw;
       
}

.domicilio{
    color: #eeeeee;
    padding-bottom: 2vw;
    font-size: 1.5;
    margin-top: 10%;
    }

    .social{
        display: flex;
        gap: 2vw;
        justify-content: center;
    }    
    
    .red-social{
        width: 4.3vw;
        height: 4.3vw;
    }
    
.anclaArriba{
    width: 5vw;
    height: 5vw;
    }

.anclaInicio{
    position:fixed;
    top:100%;
    right: 2.8vw;
    margin-top: -7vw;
}

.registrado{
    flex: 1 1 100%;
    text-align: center;
    margin: 2px;
    font-size: smaller;
    color:#eeeeee ;
}

/*------------FORMULARIO CONTACTO---------------------*/
.contacto{
    background-color: #85b2b9;
    padding: 3%;
   
}    
.formulario{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3vw;
    margin: 10vw 15vw;

    
}
.formLabel{
    display: block;
    padding: 0.5vw;
    font-size: 1.8vw;
    font-weight: bolder;
    color: black;
    text-shadow: 0.1vw 0.1vw #eeeeee;
}
.formGrupo-input{
    position:relative;
}
.formInput{
    width: 100%;
    background-color: #eeeeee;
    border: transparent;
    height: 2.5vw;
    transition: 0.3s ease all;
    color: black;
    font-size: 1.2vw;
}
.formInput:focus{
    border: 3px solid #088395;;
    outline: none;
}
.formInput-error{
    font-size: 1.3vw;
    margin-bottom: 0;
    display: none;
}
.formInput-error-activo{
    display: block;
}
.formCheckbox{
    margin-right: 0.5vw;
}
.formGrupo-terminos,
.formMensaje,
.formGrupo-boton-enviar{
    grid-column: span 2;
    padding: 0.1vw;
}
.formMensaje{
    height: 3vw;
    line-height: 3vw;
    background-color: #F66060;
    padding-left: 1vw;
    border-radius: 0.5vw;
    display: none;
}
.formMensaje p{
    margin: 0;
}
.formGrupo-boton-enviar{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formMensaje-activo{
    display: block;
}
.formBoton{
    height: 3vw;
    line-height: 3vw;
    width: 50%;
    background-color: #eeeeee;
    color: black;
    font-size: 1.5vw;
    text-shadow: 0.1vw 0.1vw #088395;
    font-weight: bold;
    border: none;
    border-radius: 0.5vw;
    cursor: pointer;
    box-shadow: 0.3vw 0.3vw gray;
    
}
.formMensaje-exito{
    font-size: 1.8vw;
    color: #1c970c;
    padding: 1vw;
    display: none;
}
.formMensaje-exito-activo{
    display:block;
}
.grupoTextarea{
    font-size: 1.6vw;
}
.formTextarea{
    font-size: 1vw;
}
/**** Estilos para validacion****/
.formGrupo-correcto .formInput {
    color: #1ed12d;
    opacity: 1;
    border:3px solid #1ed12d

}
.formGrupo-incorrecto .formLabel{
    color: #bb2929
}
.formGrupo-incorrecto{
    color:#bb2929;
    opacity: 1;
}

.formGrupo-incorrecto .formInput{
    border:3px solid #bb2929
}


/*------------Animaciones---------------------*/
.anclas:active{
    transform: translate(0.2vw);
    box-shadow: none;
}
.boton:active{
    transform: translate(0.2vw);
    box-shadow: none;
}
.formBoton:active{
    transform: translate(0.2vw);
    box-shadow: none;
}
/* -------------------media query-------------------------- */



@media only screen and (max-width: 465px) {
    .menu {
        flex-flow: column;

    }

    .menu-item {
        text-align: center;
        border-bottom-style: groove;
        border-color: #85b2b9;
        width: 100%;
    }

    .menuAncla {
        font-size: small;
    }

    .titulo,
    .anclas {
        font-size: small;
        min-height: fit-content;
    }

    
    .cardDescription {
        font-size: x-small;
        padding: 3%;
    }

    .subtitulo,
    .subtitulo2 {
        font-size: 4vw;
        padding: 5%;
    }

    .temperatura {
        font-size: 2.5vw;
    }

    .pie {
        padding: 3%;
    }

    .ubicacion {
        display: none;
    }

    .social {
        flex: 1 1 100%;
    }

    .red-social {
        width: 8vw;
        height: 8vw;
    }

    .anclaInicio {
        position: fixed;
        top: 97%;
        right: 2.8vw;
        margin-top: -7vw;
    }

    .anclaArriba {
        width: 8.5vw;
        height: 8.5vw;
    }

    .registrado {
        font-size: xx-small;
    }

    .principal {
        flex-flow: column;
    }

    .section {
        width: 90%;
        height: auto;
    }

    .imagen1 {
        width: 100%;
        height: auto;
        padding: 3%;
    }

    .contenedor {
        flex-flow: column;
        gap: 3vw;
        align-items: center;
        
    }

    .tarjetasPres {
        width: 80vw;
        height: auto;

    }

    .area-cur{
        font-size: medium;
    }
    .imagenArea{
        width: 100%;
        height: auto;
    }
            
    .cursos{
        font-size: smaller;
    }
    .boton{
        font-size: xx-small;
    }
    .lista-cur2{  
        height: 17vw;
    }
    .formulario{
        grid-template-columns: 1fr;
    }
    .formGrupo-terminos, .formMensaje, .formGrupo-boton-enviar{
    grid-column: 1;
    }

    .formLabel1{
        font-size: 3.5vw;     
    }
    .formLabel{
        font-size: 3.5vw;
    }
    .formInput{
        height: 9vw;
        font-size: 4vw;
    }
    .formBoton{
        height: 4vw;
        line-height: 4vw;
        font-size: 3vw;
        width: 100%;
    }  
    .subtitulo2{
        font-size: 2.5vw;
    } 
    .formMensaje{
        height: 6vw;
        line-height: 6vw;
        font-size: 2.5vw;
    }
    .formMensaje-exito{
        font-size: 4vw;
        padding: 2vw;
        
    }
    .formInput-error{
        font-size: 3.5vw;
    }
}

@media only screen and (min-width: 465px) and (max-width: 768px) {
    .menu {
        flex-flow: column;

    }

    .menu-item {
        text-align: center;
        border-bottom-style: groove;
        border-color: #85b2b9;
        width: 100%;
    }

    .menuAncla {
        font-size: medium;
    }

    
    .temperatura {
        font-size: 1.8vw;
    }

    .mapa {
        display: none;
    }

    .domicilio {
        font-size: 2.3vw;

    }

    .social {
        flex: 1 1 35%;
    }

    .red-social{
        width: 4vw;
        height: auto;
    }

    .registrado {
        font-size: xx-small;
    }

    .section{
        width: 45%;
        height: auto;
    }
    .contenedor {
        gap: 3vw;
    }
   

    .tarjetasPres {
        flex-basis: 45%;
        width: 60vw;
        height: auto;

    }

    .area-cur{
        font-size: small;
    }
    .imagenArea{
        width: 100%;
        height: auto;
    }
    .cursos{
        font-size: x-small;
    }
    .boton{
        font-size: x-small;
    }
    .formulario{
        grid-template-columns: 1fr;
    }
    .formGrupo-terminos, .formMensaje, .formGrupo-boton-enviar{
    grid-column: 1;
    }

    .formLabel{
        font-size: 2.5vw;
    }
    .formInput{
        height: 7vw;
        font-size: 2.8vw;
    }
    .formLabel1{
        font-size: 2vw;     
    }
    .formBoton{
        height: 3.5vw;
        line-height: 3.5vw;
        font-size: 2vw;
        width: 100%;
    }  
    .subtitulo2{
        font-size: 2.2vw;
    } 
    .formMensaje{
        height: 5vw;
        line-height: 5vw;
        font-size: 2.5vw;
  
    }
    .formMensaje-exito{
        font-size: 3.5vw;
        padding: 1.5vw;
    }
    .formInput-error{
        font-size: 2.5vw;
    }
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .mapa {
        width: 180px;
        height: 120px;
    }

    .domicilio {
        font-size: 1.5vw;

    }

    .social {
        flex: 1 1 30%;
    }

    .registrado {
        font-size: xx-small;
    }

    .contenedor {
        gap: 3vw;
    }

    .tarjetasPres {
        flex-basis: 45%;
    }

    .area-cur{
        font-size: large;
    }

    .cursos{
        font-size: medium;
    }

    .formulario{
        grid-template-columns: 1fr;
    }
    .formGrupo-terminos, .formMensaje, .formGrupo-boton-enviar{
        grid-column: 1;
    }
    .formBoton{
        width: 100%;
    }
    .formLabel1{
        font-size: 1.8vw;     
    }
    .subtitulo2{
        font-size: 2vw;
    } 
    .formLabel{
        font-size: 2vw;
    }
    .formInput{
        height: 5vw;
        font-size: 2vw;
    }
    .formMensaje-exito{
        font-size: 2.5vw;
        padding: 1.8vw;
    }
    .formInput-error{
        font-size: 2vw;
    }
   }

/* ----------------------SLIDE------------------------- */

.slider-frame {
    padding: 1%;
	width: 100%;
    height: auto;
	}

.slider-frame ul {
	display: flex;
	padding: 1%;
	width: 300%;
	
	animation: slide 18s infinite alternate ease-in-out;
}

.slider-frame li {
    width: 100%;
list-style: none;
   }
   
.sld1,.sld2, .sld3 {
    text-align: center;
    color: white;
    text-shadow: 0.1vw 0.1vw rgb(0, 0, 0);
    font-size: 2.5vw;
    margin: auto 10px;
}


@keyframes slide {
	0% {margin-left: 0;}
	25% {margin-left: 0;}
	
	30% {margin-left: -100%;}
	60% {margin-left: -100%;}
	
	65% {margin-left: -200%;}
	100% {margin-left: -200%;}
}
